tasks_branches/branched_from_v1_1/ISSUE-291_ermeX.Gateway_Step1/Code/Components/ermeX.Gateway/ermeX.Gateway.ConfigurationManagement.Config/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="ermeX.Gateway.Configuration" elementFormDefault="qualified" targetNamespace="ermeX.Gateway.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ermeXGatewayConfiguration" type="tns:ermeX.Gateway.Configuration.ermeXGatewayConfigurationCT" />
	<xs:complexType name="ermeX.Gateway.Configuration.ermeXGatewayConfigurationCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="restfulServiceDefinition" type="tns:ermeX.Gateway.Configuration.RestfulServiceDefinitionCT">
				<xs:annotation>
					<xs:documentation>The RestfulServiceDefinition.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ermeX.Gateway.Configuration.RestfulServiceDefinitionCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
