tasks_branches/ISSUE-260_ Generate_configuration_section/Code/Main/ermeX.ConfigurationManagement.Config/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="ermeX" elementFormDefault="qualified" targetNamespace="ermeX" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ermeXSection" type="tns:ermeX.ermeXSectionCT" />
	<xs:complexType name="ermeX.ermeXSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="componentDefinition" type="tns:ermeX.ComponentElementCT">
				<xs:annotation>
					<xs:documentation>The ComponentDefinition.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ermeX.ComponentElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="friendComponent" type="tns:ermeX.FriendComponentElementCT">
				<xs:annotation>
					<xs:documentation>the friend component settings. Its used to join to the network. Dont configure if this component is the first added and the others will join to it</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="database" type="tns:ermeX.DatabaseElementCT">
				<xs:annotation>
					<xs:documentation>The Database.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="componentId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The unique identifier of the ermeX component in the ermeX network</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tcpPort" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>TCP port the components listens to</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="messagesExpirationDays" use="required" type="xs:time">
			<xs:annotation>
				<xs:documentation>the days after a message is expired. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="discoverSubscriptors" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>indicates if the message subscriptor types should be discovered when the component is started</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="discoverServices" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>indicates if the services should be discovered when the component is started</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ermeX.FriendComponentElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="remoteIp" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>the remote component IP</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="remoteTcpPort" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>the remote component TcpPort</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="remoteComponentId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The remote component id in the ermeX Network</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ermeX.DatabaseElementCT">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ermeX.PhisicalDatabaseElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="connectionString" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>the connectionstring of the database</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ermeX.SqlServerDatabaseElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="connectionString" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>the connectionstring of the database</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ermeX.SqliteDatabaseElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="connectionString" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>the connectionstring of the database</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ermeX.InMemoryDatabaseElementCT">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
